<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Belau National Hospital Survey System</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>



	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='themes/default/easyui.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/themes/icon.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/demo.css')}}">
	<script type="text/javascript" src="{{url_for('static', filename='jquery.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='jquery.easyui.min.js')}}"></script>

    <style>

    </style>

</head>
<body>
    <div class="container-fluid" >
    <!--    title-->
        <div class="row ">
            <div class="col-1"></div>
            <div class="col-6 pt-5">
 <h1>Belau National Hospital Survey System</h1>
            </div>
        </div>
    <!--    end title-->

    <!--    main section-->
<!--         justify-content-center-->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3 alert alert-info" style="width:750px;"></div>

            <div class="col-7 alert alert-dark" style="width:750px;">

            </div>
        </div>


    </div>


</body>

</html>